.movies-list{
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 1440px;
    // animation-name: fadeIn;
    // animation-duration: .5s;
}

ul.movies-list_items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
}
ul.movies-list_items li{
    width: 350px;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      margin-top: 50px;
    }
    to {
      opacity: 1;
      margin-top: 0;
    }
  }
  