.navbar{
    height: 79px;
    font-weight: 700;
    background-color: var(--color-primary);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: var(--box-shadow);
    & .navbar__content{
        max-width: 1440px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    & img{
        width: 178px;
        height: 49.22px ;
    }
    & .navbar__links{
        text-transform: uppercase;        list-style-type: none;
        display: flex;
        align-items: center;
        & .navbar__links--item{
            &:last-child a{
                background-color: var(--color-background-light);
            }
            &:last-child:hover a{
                background-color: var(--color-accent);
            }
            & a{
                text-decoration: none;
                color: inherit;
                padding: 28px 22px;
                transition: var(--transition-all);
                &:hover{
                    background-color: var(--color-accent);
                    cursor: pointer;
                }
                &:active{
                    opacity: .5;
                }
                &.active{
                    background-color: var(--color-accent);
                }
            }
        }
    }
}
.navbar__menu-button{
    display: none;
}

@media screen and (max-width: 721px) {
    .navbar .navbar__links{
        display: none;
    }
}
@media screen and (min-width: 720px) {
    .navbar{
        & .navbar__links2{
            display: none;
        }
    }
}
@media screen and (max-width: 721px) {
    .navbar{
        & .navbar__links2 {
            flex-direction: column;
            height: 322px;
            justify-content: space-around;
            align-self: flex-start;
            background-color: var(--color-primary);
            padding-bottom: 51px;
            margin-top: 79px;
            border-bottom-left-radius: 10px;
            overflow: hidden;
            box-shadow: var(--box-shadow);
                & .navbar__links--item{
                    height: 82px;
                    border-bottom: solid 1px var(--color-background-light);
                    & a{
                        text-decoration: none;
                        color: var(--color-secondary);
                        & span{
                            width: 200px;
                            text-align: center;
                            height: 82px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        & span:hover{
                            background-color: var(--color-accent);
                        }
                        &.active span{
                            background-color: var(--color-accent);
                        }
                    }
                }
            }
        }
    .navbar .navbar__links .navbar__links--item a.active{
        background-color: initial;
    }
    .navbar .navbar__links .navbar__links--item a:hover{
        background-color: initial;
    }
    .navbar .navbar__links .navbar__links--item:last-child a{
        background-color:initial;
        &:hover{
            background-color: initial;
        }
    }
    .navbar .navbar__links .navbar__links--item:last-child:hover a{
        background-color: initial;
    }
    .navbar__menu-button{
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        & button{
            background-color: transparent;
            border: none;
            outline-color: var(--color-accent);
            padding: 23px;
            cursor: pointer;
            &:hover{
                background-color: var(--color-accent);
            }
        }
        & img{
            width: 25px;
            height: 25px;
        }
    }
  }

  @media screen and (max-width: 1500px) {
    .navbar__logo{
        margin-left: 20px;
    }
}