@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root{
    --color-primary: #ffffff;
    --color-secondary:#000000 ;
    --color-accent:#f1f400;
    --color-background-light:#eeeeee;

    --spacing-xs: 5px;
    --spacing-s: 10px;
    --spacing-m: 15px;
    --spacing-l: 20px;
    --spacing-xl: 20px;

    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

    --transition-all: all .3s;
    --transition-time: .3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

li{
  list-style: none;
}

/* Scroll bar styles */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.172);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.446);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}



