@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root{
    
    --color-primary: #ffffff;
    --color-secondary:#000000 ;
    --color-accent:#f1f400;

    --spacing-xs: 5px;
    --spacing-s: 10px;
    --spacing-m: 15px;
    --spacing-l: 20px;
    --spacing-xl: 20px;

    --box-Shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
  }

  body{
    background-color: var(--color-primary);
    color: var(--color-secondary);
}



