.banner{
    width: 100%;
    height:700px;
    color:#ffffff;
    background-position: center;
    background-size: cover;

    & .banner__container{
        max-width: 1440px;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
    }
    & .banner__info{
        align-self: center;
        & h2{
            font-size: 71px;
            font-weight: bold;
            text-transform: uppercase;
        }
        & p{
            font-size: 18px;
            margin: 40px 0 55px;
        }
    }
   
}