.banner{
    width: 100%;
    height:700px;
    color:#ffffff;
    background-position: center;
    background-size: cover;
    & .banner__container{
        max-width: 1440px;
        height: 100%;
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr;
        margin: 0 auto;
    }
    & .banner__info{
        align-self: center;
        & h2{
            font-size: 71px;
            font-weight: bold;
            text-transform: uppercase;
        }
        & p{
            font-size: 18px;
            margin: 40px 0 55px;
        }
    }
}

@media screen and (max-width: 1500px) {
    .banner{
        & .banner__info{
            align-self: center;
            & h2{
                font-size: 60px;
                 padding: 20px;
            }
            & p{
                padding: 20px;
            }
        }
        & .banner__container{

            grid-template-columns: 1.5fr  1fr;
            & .banner__buttons{
                padding: 0 20px;

            }
        }
    }
}
@media screen and (max-width: 777px) {
    .banner{
        background-position:right top;
        & .banner__info{
            align-self: center;
            & h2{
                font-size: 60px;
                 padding: 20px;
            }
            & p{
                padding: 20px;
            }
        }
        & .banner__container{
            grid-template-columns: 1fr;
            & .banner__buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                & .btn__container{
                    font-size: 14px;
                    padding: 9px 40px;

                }
            }
        }
    }
}